#container {
  width: 1000px;
  height: auto;
  min-height: 600px;
  display: block;
  margin: 0 auto;
}

#container .title {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 20px;
  color: rgba(70, 177, 215, 0.88);
  margin-top: 50px;
}

#container .brand {
  font-size: 18px;
  color: #888;
  text-align: center;
  width: 100%;
}

#container .brand.small{
  font-size: 14px;
  text-align: center;
}
#container .brand.small span{
  font-size: 18px;
  text-align: center;
  color: blue;
}

#container .now {
  width: 800px;
  height: 30px;
  margin-top: 10px;
}

#container .box {
  width: 600px;
  height: 400px;
  /*border: 1px solid red;*/
  float: left;
  margin-left: 100px;
}


#container .box .item{
  width: 250px;
  height: 160px;
  margin-left: 23px;
  margin-right: 23px;
  background-color: #ccc;
  float: left;
  margin-top: 25px;
  border-radius: 5px;

}

#container .box .item .button{
  width: 160px;
  height: 40px;
  background-color: rgb(125, 200, 98);
  border-radius: 5px;
  line-height: 40px;
  color: white;
  font-size: 16px;
  text-align: center;
  display: block;
  text-decoration: none;
  margin: 0 auto;
  margin-top: 45px;

}

#container .box .item .txt{
  line-height: 40px;
  font-size: 14px;
  text-align: center;
}



#container .box-left {
  width: 200px;
  height: auto;
  border-radius: 5px;
  background-color: white;
  float: left;
  padding: 15px;
  padding-top: 10px;
}

#container .box-left .head{
  width: 200px;
  height: 40px;
  font-size: 16px;
  color: blue;
  margin-left: 10px;
  line-height: 40px;
}

#container .box-left .line{
  width: 200px;
  height: 30px;
  font-size: 14px;
  margin-left: 10px;
  line-height: 30px;
}

#container .box-left .line a{
  text-decoration: none;
  color: #888;
}

#container .box-left .bottom{
  width: 180px;
  height: 0px;
  border-top: 1px solid #ccc;
}

#container  #cover {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0, 0.5)
}

#container  #cover #regular {
  width: 600px;
  height: 450px;
  margin: 0 auto;
}

#container  #cover #regular img{
  width: 600px;
  height: 400px;
}

.slick-prev::before {
    content: "<" !important;
}
.slick-next::before {
    content: ">" !important;
}

.slick-dots li button:before {
  content: '' !important;
}

.slick-dots li button {
  border-radius: 10px !important;
  background-color: rgba(0,0,0,0.5) !important;
}

.slick-dots li button:focus{
    background-color: rgba(0,0,0,0.8) !important;
    border-radius: 10px !important;
}

.slick-active>button{
    background-color: rgba(0,0,0,0.8) !important;
    border-radius: 10px !important;
}

.slick-dots {
  height: 50px !important;
  line-height: 50px !important;
}

#close {
  width: 160px;
  height: 40px;
  background-color: rgb(125, 200, 98);
  border-radius: 5px;
  line-height: 40px;
  color: white;
  font-size: 16px;
  text-align: center;
  display: block;
  text-decoration: none;
  margin: 0 auto;
  margin-top: 200px;
}
