<!DOCTYPE html>
<html>

<head>

  <meta charset="gb2312">

  <title>新手上路-一亩三分地</title>

  <link href='start.css' rel="stylesheet">
  <link href='slick.css' rel="stylesheet">
  <link href='slick-theme.css' rel="stylesheet">
  <script src='jquery.min.js'></script>
  <script src='slick.js'></script>

</head>

<body>

  {subtemplate common/header}

  <div id="container">

    <div id="cover">

      <section id="regular">
          <div>
            <img src="http://placehold.it/350x300?text=1">
          </div>
          <div>
            <img src="http://placehold.it/350x300?text=2">
          </div>
          <div>
            <div id='close'>已经了解，关闭弹窗</div>
          </div>
      </section>

    </div>

    <div id="cover2" class="cover">

      <div id="dialog">

        <div class="head">&nbsp;&nbsp;&nbsp;&nbsp;Warald想和你说</div>

        <div class="close" id='close1'></div>

        <div class="content">
          &nbsp;&nbsp;&nbsp;&nbsp;在别的网站，考完托福你就离开了，申请完了你也不会再去。但是在一亩三分地，拿到录取以后，你找实习要回来，找全职工作要回来，申请opt要回来，等h1b签证和绿卡要回来，甚至工作几年后要跳槽你也要回来看求职信息。
          <br><br>
          &nbsp;&nbsp;&nbsp;&nbsp;近期很多老ID发现无法登陆或者账号被封，原因是之前的密码太简单或者在其他网站用过被泄漏了，然后别人盗用用你的账号发垃圾广告。请珍重你的账号！密码太简单的同学请修改成一个复杂的、只在一亩三分地使用的密码。
        </div>

      </div>

    </div>


    <div class="title">
      嗨：$_G['username'], 欢迎加入一亩三分地！
    </div>

    <div class="brand small">
      一亩三分地论坛由Warald于2009年创建。请阅读Warald博客：<a href='http://www.1point3acres.com'>http://www.1point3acres.com</a>（即本站域名），获取更多北美留学申请、找工就业、学习生活、签证移民等信息。
    </div>


    <div class="box">

      <div class="item">
        <a class="button">验证邮箱、激活账号</a>
        <div class="txt" id="baogui">为什么你的账号很宝贵</div>
        <div class="txt" id="yanzhengyoujian">我没有收到验证邮件咋办？</div>
      </div>

      <div class="item">
        <a class="button">获取积分阅读帖子</a>
        <div class="txt">点这里做新人报道，可获得100分</div>
        <div class="txt">点这里查看全部赞积分方法</div>
        <div class="txt">更多新手上路问题，请参考新农必入版</div>
      </div>

      <div class="item">
        <a class="button">关注一亩三分地公众号?</a>
        <img src='static/image/code.jpg'>
      </div>

      <div class="item">
        <a class="button" target='blank' href='https://itunes.apple.com/cn/app/%E4%B8%80%E4%BA%A9%E4%B8%89%E5%88%86%E5%9C%B0%E7%95%99%E5%AD%A6%E7%A4%BE%E5%8C%BA/id1018241310?mt=8&ign-mpt=uo%3D4'>下载官方iOS应用</a>
        <img src='static/image/iOS.png'>
      </div>

    </div>

    <div class="box-left">

      <div class="head">《告诉你不知道的美国留学》</div>
      <img src='static/image/warld.jpg'>
      <div class="line"><a href='http://www.1point3acres.com/bbs/forum.php?mod=guide'>一亩三分地创始人Warald作品</a></div>
      <div class="line"><a href='http://www.1point3acres.com/bbs/forum.php?mod=guide'>清华大学出版社出版</a></div>
      <div class="line"><a href='http://www.1point3acres.com/bbs/forum.php?mod=guide'>留学申请、求职就业、移民生活...</a></div>
      <div class="bottom"></div>

      <div class="head">联系Warald</div>
      <div class="line"><a href='http://www.1point3acres.com/bbs/forum.php?mod=guide'>留学咨询</a></div>
      <div class="line"><a href='http://www.1point3acres.com/bbs/forum.php?mod=guide'>电话答疑</a></div>
      <div class="line"><a href='http://www.1point3acres.com/bbs/forum.php?mod=guide'>就业培训</a></div>
      <div class="line"><a href='http://www.1point3acres.com/bbs/forum.php?mod=guide'>评估定位?</a></div>
      <div class="bottom"></div>

    </div>

  </div>

  {subtemplate common/footer}

  <script>



  window.onload = function () {

    var cover = document.getElementById('cover');
    var close = document.getElementById('close');

    cover.style.width = document.body.clientWidth + 'px';
    cover.style.height = document.body.clientHeight + 'px';

    cover.onmousewheel = function () {
      return false;
    }

    close.onclick = function () {
      cover.style.display = 'none';
    }


    window.onresize = function () {

      cover.style.width = document.body.clientWidth + 'px';
      cover.style.height = document.body.clientHeight + 'px';

    };


    var cover2 = document.getElementById('cover2');
    var close1 = document.getElementById('close1');
    var baogui = document.getElementById('baogui');
    var yanzhengyoujian = document.getElementById('yanzhengyoujian');

    baogui.onclick = function () {
      cover2.style.display = 'block';
    };

    yanzhengyoujian.onclick = function () {
      cover2.style.display = 'block';
      cover2.innerHtml = '1. 请检查你信箱的垃圾邮件<br>2. 点<a href='http://www.1point3acres.com/bbs/home.php?mod=spacecp&ac=profile&op=password'>这里</a>重发验证邮件 <br>3. 换个邮箱注册，比如163.com改成outlook';
    };

    close1.onclick = function () {
      cover2.style.display = 'none';
    };


  };

  jQuery(document).ready(

    function() {

      jQuery("#regular").slick({
        dots: true,
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1
      });

    }
  );

  </script>

</body>

</html>
