<!DOCTYPE html>
<html>

<head>

  <meta charset="gb2312">

  <title>新手上路-一亩三分地</title>

  <link href='start.css' rel="stylesheet">
  <link href='slick.css' rel="stylesheet">
  <link href='slick-theme.css' rel="stylesheet">
  <script src='jquery.min.js'></script>
  <script src='slick.js'></script>

</head>

<body>

  {subtemplate common/header}

  <div id="container">

    <div id="cover">

      <section id="regular">
          <div>
            <img src="http://placehold.it/350x300?text=1">
          </div>
          <div>
            <img src="http://placehold.it/350x300?text=2">
          </div>
          <div>
            <div id='close'>已经了解，关闭弹窗</div>
          </div>
      </section>

    </div>


    <div class="title">
      嗨：$_G['username'], 欢迎加入一亩三分地！
    </div>

    <div class="brand small">
      一亩三分地论坛由Warald于2009年创建。请阅读Warald博客：<a href='http://www.1point3acres.com'>http://www.1point3acres.com</a>（即本站域名），获取更多北美留学申请、找工就业、学习生活、签证移民等信息。
    </div>

    <div class="now">快来完成以下任务赚取大米吧：</div>

    <div class="box">

      <div class="item">
        <a class="button" target='blank' href='http://leiquan.me/home.php?mod=spacecp&ac=avatar'>验证邮箱、激活账号</a>
        <div class="txt">为什么你的账号很宝贵</div>
        <div class="txt">我没有收到验证邮件咋办？</div>
      </div>

      <div class="item">
        <a class="button" target='blank' href='http://leiquan.me/forum.php?mod=forumdisplay&fid=2'>获取积分阅读帖子</a>
        <div class="txt">点这里做新人报道，可获得100分</div>
        <div class="txt">点这里查看全部赞积分方法</div>
        <div class="txt">更多新手上路问题，请参考新农必入版</div>
      </div>

      <div class="item">
        <a class="button" target='blank' href='https://www.takethegre.com/cn/gateway/scoreselect/'>关注一亩三分地公众号?</a>
        <div class="txt">立刻进行GRE报名得2分</div>
      </div>

      <div class="item">
        <a class="button" target='blank' href='http://leiquan.me/home.php?mod=space&uid=2'>下载官方iOS应用</a>
        <div class="txt">点赞论坛热帖得1分</div>
      </div>

    </div>

    <div class="box-left">

      <div class="head">热版</div>
      <div class="line"><a href='http://www.1point3acres.com/bbs/forum.php?mod=guide'>美国留学</a></div>
      <div class="line"><a href='http://www.1point3acres.com/bbs/forum.php?mod=guide'>美国留学</a></div>
      <div class="line"><a href='http://www.1point3acres.com/bbs/forum.php?mod=guide'>美国留学</a></div>
      <div class="line"><a href='http://www.1point3acres.com/bbs/forum.php?mod=guide'>美国留学</a></div>
      <div class="bottom"></div>

      <div class="head">美国版</div>
      <div class="line"><a href='http://www.1point3acres.com/bbs/forum.php?mod=guide'>美国留学</a></div>
      <div class="line"><a href='http://www.1point3acres.com/bbs/forum.php?mod=guide'>美国留学</a></div>
      <div class="line"><a href='http://www.1point3acres.com/bbs/forum.php?mod=guide'>美国留学</a></div>
      <div class="line"><a href='http://www.1point3acres.com/bbs/forum.php?mod=guide'>美国留学</a></div>
      <div class="bottom"></div>

    </div>

  </div>

  {subtemplate common/footer}

  <script>



  window.onload = function () {

    var cover = document.getElementById('cover');
    var close = document.getElementById('close');

    cover.style.width = document.body.clientWidth + 'px';
    cover.style.height = document.body.clientHeight + 'px';

    cover.onmousewheel = function () {
      return false;
    }

    close.onclick = function () {
      cover.style.display = 'none';
    }


    window.onresize = function () {

      cover.style.width = document.body.clientWidth + 'px';
      cover.style.height = document.body.clientHeight + 'px';

    };

  };

  jQuery(document).ready(

    function() {

      jQuery("#regular").slick({
        dots: true,
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1
      });

    }
  );

  </script>

</body>

</html>
