<!DOCTYPE html>
<html>

<head>

  <meta charset="gb2312">

  <title>新手上路-一亩三分地</title>

  <link href='start.css' rel="stylesheet">
  <link href='slick.css' rel="stylesheet">
  <link href='slick-theme.css' rel="stylesheet">
  <script src='jquery.min.js'></script>
  <script src='slick.js'></script>

</head>

<body>

  {subtemplate common/header}

  <div id="container">

    <div id="cover">

      <section id="regular">
          <div>
            <img src="http://placehold.it/350x300?text=1">
          </div>
          <div>
            <img src="http://placehold.it/350x300?text=2">
          </div>
          <div>
            <div id='close'>关闭</div>
          </div>
      </section>

    </div>


    <div class="title">
      嗨：$_G['username'], 恭喜你成功注册一亩三分地！
    </div>

    <div class="brand small">
      你目前的会员等级是
      <span>
        $_G[group][grouptitle]
      </span>
    </div>

    <div class="now">快来完成以下任务赚取大米吧：</div>

    <div class="box">

      <div class="item">
        <a class="button" href='http://leiquan.me/home.php?mod=spacecp&ac=avatar'>设置头像</a>
        <div class="txt">上传个性化的头像得10积分</div>
      </div>

      <div class="item">
        <a class="button" href='http://leiquan.me/forum.php?mod=forumdisplay&fid=2'>新手报道</a>
        <div class="txt">跟大家打个招呼得3分</div>
      </div>

      <div class="item">
        <a class="button" href='https://www.takethegre.com/cn/gateway/scoreselect/'>GRE在线报名</a>
        <div class="txt">立刻进行GRE报名得2分</div>
      </div>

      <div class="item">
        <a class="button" href='http://leiquan.me/home.php?mod=space&uid=2'>个人中心</a>
        <div class="txt">点赞论坛热帖得1分</div>
      </div>

    </div>

    <div class="box-left">

      <div class="head">热版</div>
      <div class="line"><a href='http://www.1point3acres.com/bbs/forum.php?mod=guide'>美国留学</a></div>
      <div class="line"><a href='http://www.1point3acres.com/bbs/forum.php?mod=guide'>美国留学</a></div>
      <div class="line"><a href='http://www.1point3acres.com/bbs/forum.php?mod=guide'>美国留学</a></div>
      <div class="line"><a href='http://www.1point3acres.com/bbs/forum.php?mod=guide'>美国留学</a></div>
      <div class="bottom"></div>

      <div class="head">美国版</div>
      <div class="line"><a href='http://www.1point3acres.com/bbs/forum.php?mod=guide'>美国留学</a></div>
      <div class="line"><a href='http://www.1point3acres.com/bbs/forum.php?mod=guide'>美国留学</a></div>
      <div class="line"><a href='http://www.1point3acres.com/bbs/forum.php?mod=guide'>美国留学</a></div>
      <div class="line"><a href='http://www.1point3acres.com/bbs/forum.php?mod=guide'>美国留学</a></div>
      <div class="bottom"></div>

    </div>

  </div>

  {subtemplate common/footer}

  <script>



  window.onload = function () {

    var cover = document.getElementById('cover');
    var close = document.getElementById('close');

    cover.style.width = document.body.clientWidth + 'px';
    cover.style.height = document.body.clientHeight + 'px';

    cover.onmousewheel = function () {
      return false;
    }

    close.onclick = function () {
      cover.style.display = none;
    }


    window.onresize = function () {

      cover.style.width = document.body.clientWidth + 'px';
      cover.style.height = document.body.clientHeight + 'px';

    };

  };

  jQuery(document).ready(

    function() {

      jQuery("#regular").slick({
        dots: true,
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1
      });

    }
  );

  </script>

</body>

</html>
